@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-display: "Fraunces", serif;
  --font-body: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFFBFA;
  color: #241A18;
}

.container-glowly {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
